# 날씨데이터(aws)의 8시씩 평균 구하기 알고리즘 
- 총 9개의 날씨 데이터 활용 (기온, 풍향, 풍속, 강수량, 현지기압, 해면기압, 습도, 일사, 일조)
- 8시간 마다의 9개의 날씨 변수의 평균값 데이터를 추가
- 음주운전사고 데이터와 날씨데이터의 통합

In [2]:
import pandas as pd
import numpy as np
from itertools import groupby
import os

## 1. 데이터 불러오기

In [4]:
aws_seoul = pd.read_csv('https://raw.githubusercontent.com/DreamingDataScientist/DataCompetition/master/Data/aws_hour_2017_seoul.csv', encoding ='EUC-KR')
aws_seoul.head()

,지점,일시,기온(°C),풍향(deg),풍속(m/s),강수량(mm),현지기압(hPa),해면기압(hPa),습도(%),일사(MJ/m^2),일조(hr)
0,400,2017-01-01 00:00,1.7,68.1,1.3,0.0,NaN,NaN,75.6,0.0,0.0
1,400,2017-01-01 01:00,1.4,69.1,1.3,0.0,NaN,NaN,77.8,0.0,0.0
2,400,2017-01-01 02:00,1.2,66.2,1.6,0.0,NaN,NaN,79.6,0.0,0.0
3,400,2017-01-01 03:00,0.5,66.0,1.5,0.0,NaN,NaN,84.4,0.0,0.0
4,400,2017-01-01 04:00,0.6,63.4,0.5,0.0,NaN,NaN,85.6,0.0,0.0

In [6]:
aws_seoul.columns

Index(['지점', '일시', '기온(°C)', '풍향(deg)', '풍속(m/s)', '강수량(mm)', '현지기압(hPa)',
       '해면기압(hPa)', '습도(%)', '일사(MJ/m^2)', '일조(hr)'],
      dtype='object')

### 시범적으로 '기온 칼럼'을 먼저 8개씩 평균을 구해보기

In [7]:
celsius_8h = []

for i in range(len(aws_seoul)-7):
    val = aws_seoul['기온(°C)'][i:i+8].mean()
    celsius_8h.append(val)
celsius_8h

[0.6875,
 0.4875,
 0.375,
 0.35,
 0.5625,
 0.9625,
 1.65,
 2.45,
 3.2875,
 4.125,
 4.887499999999999,
 5.525,
 5.9625,
 6.1375,
 6.025,
 5.875,
 5.725,
 5.5375,
 5.35,
 5.175,
 5.0375,
 4.975,
 4.949999999999999,
 4.85,
 4.8,
 4.8375,
 4.9375,
 5.137499999999999,
 5.475,
 5.9125,
 6.35,
 6.925,
 7.3875,
 7.725,
 7.9625,
 8.125,
 8.125,
 7.975,
 7.725,
 7.2875,
 6.775,
 6.199999999999999,
 5.6125,
 4.975,
 4.3125,
 3.6374999999999997,
 3.025,
 2.5250000000000004,
 2.125,
 1.8499999999999999,
 1.6625,
 1.6875000000000002,
 1.975,
 2.45,
 3.1375,
 3.8500000000000005,
 4.5625,
 5.2625,
 5.8375,
 6.175000000000001,
 6.2625,
 6.1875,
 5.8999999999999995,
 5.575,
 5.225,
 4.875,
 4.5874999999999995,
 4.4125,
 4.3125,
 4.237500000000001,
 4.1,
 3.9375,
 3.775,
 3.575,
 3.4499999999999997,
 3.475,
 3.725,
 4.074999999999999,
 4.6875,
 5.3125,
 6.0125,
 6.7375,
 7.35,
 7.725,
 7.800000000000001,
 7.7125,
 7.4,
 7.025,
 6.5625,
 6.0625,
 5.6125,
 5.0625,
 4.4625,
 3.8874999999999997,
 3.3874999999999997,
 2.9875,
 2.6875,
 2.4749999999999996,
 2.3625,
 2.55,
 2.9749999999999996,
 3.5125,
 4.1,
 4.75,
 5.387499999999999,
 6.012499999999999,
 6.574999999999999,
 6.975,
 7.225,
 7.35,
 7.3374999999999995,
 7.225,
 7.0,
 6.7125,
 6.4,
 6.1,
 5.7875,
 5.5,
 5.2625,
 5.050000000000001,
 4.875,
 4.7125,
 4.6,
 4.65,
 4.8500000000000005,
 5.4,
 5.95,
 6.5375,
 7.1875,
 7.9,
 8.5125,
 8.975,
 9.2125,
 9.037500000000001,
 8.8,
 8.475,
 8.0625,
 7.425,
 6.7875000000000005,
 6.125,
 5.525,
 4.925,
 4.324999999999999,
 3.775,
 3.2,
 2.8,
 2.5,
 2.3875,
 2.6,
 3.0500000000000003,
 3.7500000000000004,
 4.6625,
 5.625,
 6.5875,
 7.525,
 8.25,
 8.6375,
 8.8,
 8.662500000000001,
 8.3,
 7.875,
 7.475,
 7.075,
 6.75,
 6.475,
 6.225,
 6.0375,
 5.875,
 5.8375,
 5.775,
 5.775,
 5.925000000000001,
 6.225,
 6.8625,
 7.512499999999999,
 8.2375,
 8.85,
 9.4625,
 9.9375,
 10.1875,
 10.212499999999999,
 9.8625,
 9.462499999999999,
 8.9,
 8.3125,
 7.675000000000001,
 7.075,
 6.512499999999999,
 6.0,
 5.5625,
 5.1875,
 4.875,
 4.6375,
 4.4,
 4.1625,
 3.9375,
 3.825,
 3.7249999999999996,
 3.7625,
 3.85,
 3.95,
 4.075,
 4.1499999999999995,
 4.15,
 4.025,
 3.8,
 3.3625,
 2.8000000000000003,
 2.1500000000000004,
 1.4874999999999998,
 0.8374999999999999,
 0.21250000000000002,
 -0.38749999999999996,
 -0.9249999999999999,
 -1.35,
 -1.6875,
 -1.9249999999999998,
 -2.0875,
 -2.1375,
 -2.0,
 -1.7374999999999998,
 -1.35,
 -0.8875,
 -0.3875,
 0.09999999999999998,
 0.5499999999999999,
 0.7625,
 0.725,
 0.5,
 0.09999999999999998,
 -0.5,
 -1.25,
 -2.1,
 -2.95,
 -3.625,
 -4.1875,
 -4.675000000000001,
 -5.074999999999999,
 -5.362500000000001,
 -5.5375,
 -5.6125,
 -5.6499999999999995,
 -5.6375,
 -5.387499999999999,
 -4.9625,
 -4.375,
 -3.75,
 -2.9749999999999996,
 -2.1125000000000003,
 -1.325,
 -0.5625,
 -0.125,
 0.13749999999999998,
 0.2125,
 0.25,
 0.175,
 0.05,
 0.02499999999999998,
 -0.03749999999999999,
 -0.0625,
 -0.15000000000000002,
 -0.22500000000000003,
 -0.2375,
 -0.2,
 -0.0875,
 -0.12500000000000006,
 -0.175,
 -0.17500000000000002,
 0.012500000000000018,
 0.19999999999999996,
 0.4,
 0.65,
 0.7250000000000001,
 0.9125,
 0.9624999999999999,
 0.9125,
 0.6500000000000001,
 0.30000000000000004,
 -0.1875,
 -0.85,
 -1.5374999999999999,
 -2.275,
 -2.8125,
 -3.25,
 -3.6125,
 -3.8875,
 -4.125,
 -4.35,
 -4.4625,
 -4.5,
 -4.625,
 -4.9,
 -5.137500000000001,
 -5.1875,
 -5.0,
 -4.6625,
 -4.300000000000001,
 -3.875,
 -3.4375,
 -2.9375,
 -2.5375,
 -2.55,
 -2.9124999999999996,
 -3.45,
 -4.050000000000001,
 -4.7625,
 -5.4,
 -5.95,
 -6.45,
 -6.762499999999999,
 -6.987500000000001,
 -7.1875,
 -7.375,
 -7.625,
 -7.9,
 -8.05,
 -8.1125,
 -8.0125,
 -7.75,
 -7.387499999999999,
 -6.975,
 -6.4375,
 -5.9875,
 -5.725,
 -5.5625,
 -5.5375,
 -5.625,
 -5.8375,
 -6.125,
 -6.5,
 -6.7875,
 -7.0375,
 -7.2375,
 -7.425,
 -7.6,
 -7.7375,
 -7.862499999999999,
 -7.987500000000001,
 -8.0375,
 -7.8375,
 -7.574999999999999,
 -7.237500000000001,
 -6.7749999999999995,
 -6.1625,
 -5.4125,
 -4.5375000000000005,
 -3.7125,
 -3.1500000000000004,
 -2.6625,
 -2.3000000000000003,
 -2.05,
 -1.9875,
 -2.125,
 -2.4125,
 -2.7,
 -3.0,
 -3.3375,
 -3.6375,
 -3.9625,
 -4.35,
 -4.7125,
 -5.0875,
 -5.4625,
 -5.55,
 -5.4375,
 -5.1375,
 -4.5625,
 -3.8000000000000003,
 -2.875,
 -1.8125,
 -0.7375,
 0.07499999999999996,
 0.6625,
 0.9875,
 0.975,
 0.8375,
 0.5625,
 0.12500000000000006,
 -0.4375,
 -1.0499999999999998,
 -1.675,
 -2.2375,
 -2.8,
 -3.2875,
 -3.825,
 -4.2625,
 -4.5,
 -4.55,
 -4.3125,
 -3.825,
 -3.0250000000000004,
 -2.0874999999999995,
 -1.0375,
 0.050000000000000044,
 1.0,
 1.775,
 2.3125,
 2.5875,
 2.5375,
 2.3125,
 2.0625,
 1.775,
 1.525,
 1.35,
 1.15,
 0.9875,
 0.8875000000000001,
 0.775,
 0.55,
 0.2625,
 -0.025000000000000022,
 -0.1875,
 -0.12499999999999999,
 0.07500000000000007,
 0.19999999999999996,
 0.475,
 0.8499999999999999,
 1.4,
 1.9375,
 2.3125,
 2.4125,
 2.375,
 2.375,
 2.2625,
 2.0875000000000004,
 1.6625,
 1.2,
 0.7625,
 0.36249999999999993,
 -0.07499999999999996,
 -0.42500000000000004,
 -0.8374999999999999,
 -1.2875,
 -1.5875000000000001,
 -1.7875,
 -1.8375000000000001,
 -1.6,
 -1.2375000000000003,
 -0.7625000000000001,
 -0.07500000000000018,
 0.7874999999999999,
 1.6625,
 2.2625,
 2.575,
 2.65,
 2.6,
 2.4000000000000004,
 2.0250000000000004,
 1.5625,
 1.0625,
 0.775,
 0.6375,
 0.3125,
 -0.10000000000000003,
 -0.48749999999999993,
 -0.8875000000000002,
 -1.3,
 -1.7125,
 -2.1375,
 -2.575,
 -2.7874999999999996,
 -2.925,
 -3.0625,
 -3.0625,
 -2.975,
 -2.875,
 -2.7625,
 -2.7125,
 -2.7375000000000003,
 -2.775,
 -2.875,
 -3.15,
 -3.5500000000000003,
 -3.975,
 -4.425,
 -4.825,
 -5.15,
 -5.425000000000001,
 -5.8625,
 -6.25,
 -6.550000000000001,
 -6.8125,
 -7.025,
 -7.112500000000001,
 -7.0625,
 -6.7125,
 -5.9625,
 -5.1875,
 -4.487500000000001,
 -3.8,
 -3.1125,
 -2.4375,
 -1.9,
 -1.6375,
 -1.6,
 -1.625,
 -1.5375,
 -1.575,
 -1.6875,
 -2.0875,
 -2.6125000000000003,
 -3.2375,
 -3.9375,
 -4.637499999999999,
 -5.4375,
 -6.1499999999999995,
 -6.8,
 -7.175,
 -7.375,
 -7.4624999999999995,
 -7.3375,
 -7.1375,
 -6.7625,
 -6.387499999999999,
 -6.0625,
 -5.8875,
 -5.85,
 -5.875,
 -6.1125,
 -6.425,
 -6.9125,
 -7.362500000000001,
 -7.775,
 -8.1,
 -8.375,
 -8.65,
 -8.8375,
 -8.9875,
 -9.125,
 -9.2875,
 -9.399999999999999,
 -9.4,
 -9.325,
 -9.075,
 -8.7,
 -8.2,
 -7.5625,
 -6.8374999999999995,
 -6.225,
 -5.75,
 -5.35,
 -5.0874999999999995,
 -4.987500000000001,
 -5.0875,
 -5.324999999999999,
 -5.699999999999999,
 -6.0375,
 -6.3875,
 -6.762499999999999,
 -7.1375,
 -7.4624999999999995,
 -7.6875,
 -8.0125,
 -8.112499999999999,
 -8.35,
 -8.225,
 -7.8374999999999995,
 -7.299999999999999,
 -6.762499999999999,
 -6.074999999999999,
 -5.2,
 -4.425,
 -3.4875000000000003,
 -2.9875,
 -2.7375,
 -2.65,
 -2.575,
 -2.675,
 -2.875,
 -3.2249999999999996,
 -3.625,
 -3.9625,
 -4.324999999999999,
 -4.875,
 -5.3625,
 -5.875,
 -6.449999999999999,
 -6.9,
 -7.2124999999999995,
 -7.325,
 -7.125,
 -6.3125,
 -5.512499999999999,
 -4.6125,
 -3.5249999999999995,
 -2.4749999999999996,
 -1.5250000000000001,
 -0.8250000000000001,
 -0.42500000000000004,
 -0.475,
 -0.5875,
 -0.7999999999999999,
 -1.1375,
 -1.5624999999999998,
 -2.05,
 -2.55,
 -3.075,
 -3.6499999999999995,
 -4.2125,
 -4.7375,
 -5.3125,
 -5.6625,
 -5.9,
 -5.9125,
 -5.6,
 -4.9375,
 -3.975,
 -2.8625000000000003,
 -1.5875,
 -0.44999999999999996,
 0.65,
 1.65,
 2.3875,
 2.9125,
 3.1500000000000004,
 3.2875,
 3.3375000000000004,
 3.4625,
 3.625,
 3.7,
 3.6624999999999996,
 3.3875,
 2.875,
 2.175,
 1.3874999999999997,
 0.48750000000000004,
 -0.48750000000000004,
 -1.2999999999999998,
 -1.9625,
 -2.4000000000000004,
 -2.4749999999999996,
 -2.325,
 -2.0,
 -1.5750000000000002,
 -1.15,
 -0.9125,
 -0.7625,
 -0.675,
 -0.75,
 -0.925,
 -1.2500000000000002,
 -1.675,
 -2.1125,
 -2.5375,
 -2.9750000000000005,
 -3.4125,
 -3.8375000000000004,
 -4.2875,
 -4.6875,
 -5.075,
 -5.375,
 -5.325,
 -5.050000000000001,
 -4.6000000000000005,
 -3.9,
 -2.9875000000000003,
 -1.9,
 -0.6875000000000002,
 0.5375,
 1.475,
 2.225,
 2.8,
 3.1125,
 3.225,
 3.15,
 2.975,
 2.775,
 2.5250000000000004,
 2.325,
 2.1375,
 2.0125,
 1.9500000000000002,
 1.9,
 1.8625,
 1.8624999999999998,
 1.975,
 2.1,
 2.1,
 1.9874999999999998,
 1.8375,
 1.6875,
 1.5250000000000001,
 1.35,
 1.15,
 0.8875,
 0.75,
 0.725,
 0.6875,
 0.675,
 0.6375,
 0.5375,
 0.4125,
 0.3,
 0.06249999999999997,
 -0.35,
 -0.8125000000000001,
 -1.3625,
 -1.9500000000000002,
 -2.5999999999999996,
 -3.2250000000000005,
 -3.8,
 -4.1000000000000005,
 -4.1875,
 -4.1875,
 -4.05,
 -3.8000000000000003,
 -3.5,
 -3.3125,
 -3.2,
 -3.2625,
 -3.4000000000000004,
 -3.575,
 -3.8625,
 -4.225,
 -4.575,
 -4.8375,
 -5.1,
 -5.4625,
 -5.824999999999999,
 -6.15,
 -6.5,
 -6.7875,
 -6.95,
 -7.050000000000001,
 -6.9,
 -6.3375,
 -5.612500000000001,
 -4.800000000000001,
 -3.9000000000000004,
 -3.0125,
 -2.2875,
 -1.7,
 -1.3375,
 -1.275,
 -1.35,
 -1.5375,
 -1.775,
 -2.075,
 -2.2875,
 -2.4375,
 -2.675,
 -2.925,
 -3.1625,
 -3.3125,
 -3.375,
 -3.2625,
 -3.175,
 -3.0,
 -2.65,
 -2.1625,
 -1.65,
 -1.125,
 -0.75,
 -0.4625,
 -0.22499999999999998,
 -0.1875,
 -0.2875,
 -0.5874999999999999,
 -1.05,
 -1.725,
 -2.3375,
 -3.05,
 -3.7625,
 -4.3625,
 -4.925000000000001,
 -5.362500000000001,
 -5.699999999999999,
 -5.925,
 -6.05,
 -6.112500000000001,
 -6.0875,
 -5.7875,
 -5.262499999999999,
 -4.5125,
 -3.5875000000000004,
 -2.5625,
 -1.5624999999999996,
 -0.42500000000000004,
 0.6375,
 1.375,
 1.875,
 2.1375,
 2.25,
 2.275,
 2.275,
 2.125,
 2.0375,
 2.0125,
 2.0,
 1.975,
 1.925,
 1.85,
 1.7625000000000002,
 1.4875,
 1.225,
 1.1125,
 1.1875,
 1.4375,
 1.8625,
 2.4,
 3.0,
 3.7874999999999996,
 4.475,
 4.9375,
 5.1625,
 5.1625,
 4.949999999999999,
 4.6375,
 4.225,
 3.725,
 3.1624999999999996,
 2.625,
 2.1625,
 1.725,
 1.1875,
 0.6375,
 0.13750000000000007,
 -0.2250000000000001,
 -0.38749999999999996,
 -0.43750000000000006,
 -0.38749999999999996,
 -0.2250000000000001,
 0.21250000000000002,
 0.7499999999999999,
 1.325,
 1.875,
 2.375,
 2.8,
 3.1375,
 3.3875,
 3.5,
 3.5625,
 3.5375,
 3.5,
 3.4250000000000003,
 3.3375000000000004,
 3.225,
 3.125,
 3.1,
 3.05,
 3.025,
 3.0,
 2.9375,
 2.975,
 2.95,
 2.925,
 2.8125,
 2.7375000000000003,
 2.6875,
 2.6875,
 2.7375,
 2.7,
 2.7125000000000004,
 2.675,
 2.6374999999999997,
 2.5,
 2.3,
 2.0125,
 1.6874999999999998,
 1.3125,
 0.9,
 0.5,
 0.06250000000000006,
 -0.375,
 -0.7749999999999999,
 -1.1749999999999998,
 -1.5250000000000001,
 -1.6625,
 -1.65,
 -1.525,
 -1.2625000000000002,
 -0.7875000000000001,
 -0.275,
 0.325,
 0.875,
 1.1875,
 1.3375,
 1.3499999999999999,
 1.2,
 0.8499999999999999,
 0.5,
 0.0749999999999999,
 -0.3625,
 -0.775,
 -1.1124999999999998,
 -1.4,
 -1.675,
 -1.8875,
 -2.1,
 -2.3625,
 -2.5875000000000004,
 -2.5625,
 -2.5250000000000004,
 -2.3125,
 -1.9000000000000001,
 -1.425,
 -0.7875,
 -0.0625,
 0.6499999999999999,
 1.125,
 1.5750000000000002,
 1.725,
 1.7374999999999998,
 1.625,
 1.325,
 0.9750000000000001,
 0.6375,
 0.3375,
 0.037500000000000006,
 -0.1875,
 -0.48749999999999993,
 -0.7125,
 -1.0125,
 -1.275,
 -1.4874999999999998,
 -1.4875,
 -1.4375,
 -1.175,
 -0.7499999999999999,
 -0.35,
 0.13750000000000007,
 0.55,
 0.9,
 1.05,
 1.125,
 1.0375,
 0.8625,
 0.55,
 0.16250000000000003,
 -0.17500000000000004,
 -0.5249999999999999,
 -0.9125,
 -1.3375,
 -1.8125,
 -2.3375,
 -2.775,
 -3.2,
 -3.625,
 -3.95,
 -4.1875,
 -4.275,
 -4.2375,
 -4.0625,
 -3.7625,
 -3.475,
 -3.2,
 -3.0625,
 -3.0125,
 -3.05,
 -3.175,
 -3.4375,
 -3.7875,
 -4.0625,
 -4.3125,
 -4.525,
 -4.7375,
 -5.0,
 -5.2875,
 -5.550000000000001,
 -5.825,
 -6.125,
 -6.45,
 -6.725,
 -6.825,
 -6.7875,
 -6.5625,
 -6.2,
 -5.75,
 -5.0875,
 -4.4625,
 -3.8875,
 -3.5625,
 -3.4375,
 -3.5375,
 -3.7625,
 -4.0375000000000005,
 -4.4625,
 -4.825,
 -5.175,
 -5.4375,
 -5.6125,
 -5.7125,
 -5.824999999999999,
 -5.9625,
 -6.15,
 -6.3375,
 -6.4,
 -6.325,
 -6.1375,
 -5.7875,
 -5.25,
 -4.575,
 -3.7,
 -2.825,
 -2.075,
 -1.4749999999999999,
 -0.9874999999999998,
 -0.6625,
 -0.525,
 -0.5750000000000001,
 ...]

### 8개씩 평균을 구하다보면 맨 위의 7행은 값이 없어서 0값 리스트로 대체

In [8]:
none_7h = [0,0,0,0,0,0,0]
celsius_8h = none_7h + celsius_8h

In [10]:
aws_seoul['8h_celsius'] = celsius_8h
aws_seoul.head(10)

,지점,일시,기온(°C),풍향(deg),풍속(m/s),강수량(mm),현지기압(hPa),해면기압(hPa),습도(%),일사(MJ/m^2),일조(hr),8h_celsius
0,400,2017-01-01 00:00,1.7,68.1,1.3,0.0,NaN,NaN,75.6,0.0,0.0,0.0000
1,400,2017-01-01 01:00,1.4,69.1,1.3,0.0,NaN,NaN,77.8,0.0,0.0,0.0000
2,400,2017-01-01 02:00,1.2,66.2,1.6,0.0,NaN,NaN,79.6,0.0,0.0,0.0000
3,400,2017-01-01 03:00,0.5,66.0,1.5,0.0,NaN,NaN,84.4,0.0,0.0,0.0000
4,400,2017-01-01 04:00,0.6,63.4,0.5,0.0,NaN,NaN,85.6,0.0,0.0,0.0000
5,400,2017-01-01 05:00,0.4,63.2,0.8,0.0,NaN,NaN,85.4,0.0,0.0,0.0000
6,400,2017-01-01 06:00,-0.2,68.5,1.6,0.0,NaN,NaN,89.2,0.0,0.0,0.0000
7,400,2017-01-01 07:00,-0.1,78.6,0.5,0.0,NaN,NaN,89.4,0.0,0.0,0.6875
8,400,2017-01-01 08:00,0.1,67.8,1.1,0.0,NaN,NaN,87.6,0.0,0.0,0.4875
9,400,2017-01-01 09:00,0.5,70.0,1.7,0.0,NaN,NaN,88.6,0.0,0.0,0.3750

## 2. 데이터 정제
### 1) 총 9개의 날씨 변수들의 8시간씩의 평균 값 구하기

In [11]:
windD_8h = []
windV_8h = []
precipitation_8h = []
spotAtoPressure_8h = []
seaAtoPressure_8h = []
humidity_8h = []
insolation_8h = []
sunshine_8h = []

# '풍향(deg)', '풍속(m/s)', '강수량(mm)', '현지기압(hPa)',
#        '해면기압(hPa)', '습도(%)', '일사(MJ/m^2)', '일조(hr)'

for i in range(len(aws_seoul)-7):
    val = aws_seoul['풍향(deg)'][i:i+8].mean()
    windD_8h.append(val)
    val = aws_seoul['풍속(m/s)'][i:i+8].mean()
    windV_8h.append(val)
    val = aws_seoul['강수량(mm)'][i:i+8].mean()
    precipitation_8h.append(val)
    val = aws_seoul['현지기압(hPa)'][i:i+8].mean()
    spotAtoPressure_8h.append(val)
    val = aws_seoul['해면기압(hPa)'][i:i+8].mean()
    seaAtoPressure_8h.append(val)
    val = aws_seoul['습도(%)'][i:i+8].mean()
    humidity_8h.append(val)
    val = aws_seoul['일사(MJ/m^2)'][i:i+8].mean()
    insolation_8h.append(val)
    val = aws_seoul['일조(hr)'][i:i+8].mean()
    sunshine_8h.append(val)

#앞의 7시간 0 추가
windD_8h = none_7h + windD_8h
windV_8h = none_7h + windV_8h
precipitation_8h = none_7h + precipitation_8h
spotAtoPressure_8h = none_7h + spotAtoPressure_8h
seaAtoPressure_8h = none_7h + seaAtoPressure_8h
humidity_8h = none_7h + humidity_8h
insolation_8h = none_7h + insolation_8h
sunshine_8h = none_7h + sunshine_8h

### 2) 평균값 구한 리스트를 aws_seoul 데이터프레임 열 추가

In [12]:
aws_seoul['8h_windD'] = windD_8h
aws_seoul['8h_windV'] = windV_8h
aws_seoul['8h_precipitaiton'] = precipitation_8h
aws_seoul['8h_spotAtoPressure'] = spotAtoPressure_8h
aws_seoul['8h_seaAtoPressure'] = seaAtoPressure_8h
aws_seoul['8h_humidity'] = humidity_8h
aws_seoul['8h_insolation'] = insolation_8h
aws_seoul['8h_sunshine'] = sunshine_8h

aws_seoul.head()

,지점,일시,기온(°C),풍향(deg),풍속(m/s),강수량(mm),현지기압(hPa),해면기압(hPa),습도(%),일사(MJ/m^2),일조(hr),8h_celsius,8h_windD,8h_windV,8h_precipitaiton,8h_spotAtoPressure,8h_seaAtoPressure,8h_humidity,8h_insolation,8h_sunshine
0,400,2017-01-01 00:00,1.7,68.1,1.3,0.0,NaN,NaN,75.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,400,2017-01-01 01:00,1.4,69.1,1.3,0.0,NaN,NaN,77.8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,400,2017-01-01 02:00,1.2,66.2,1.6,0.0,NaN,NaN,79.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,400,2017-01-01 03:00,0.5,66.0,1.5,0.0,NaN,NaN,84.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,400,2017-01-01 04:00,0.6,63.4,0.5,0.0,NaN,NaN,85.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 3) 필용한 8시간 평균 값의 데이터만 추출하여 aws_seoul_8hComp 데이터프레임 생성

In [13]:
aws_seoul_8hComp = aws_seoul[aws_seoul.columns[0:2].append(aws_seoul.columns[11:])]
aws_seoul_8hComp.tail()

,지점,일시,8h_celsius,8h_windD,8h_windV,8h_precipitaiton,8h_spotAtoPressure,8h_seaAtoPressure,8h_humidity,8h_insolation,8h_sunshine
244916,889,2017-12-31 20:00,2.525,301.4125,1.3750,0.0,1021.6625,1023.8000,36.5750,0.0,0.0
244917,889,2017-12-31 21:00,2.050,301.8875,1.3625,0.0,1021.9375,1024.0875,36.4875,0.0,0.0
244918,889,2017-12-31 22:00,1.475,302.1625,1.2875,0.0,1022.3250,1024.4875,37.7250,0.0,0.0
244919,889,2017-12-31 23:00,0.825,290.7000,1.1750,0.0,1022.7250,1024.9000,39.9500,0.0,0.0
244920,889,2018-01-01 00:00,0.300,286.8500,1.1250,0.0,1023.1250,1025.3125,41.6750,0.0,0.0

#####  'index=False'는 기존 index가 1 열로 들어가는 경우를 방지하기 위함

In [15]:
aws_seoul_8hComp.to_csv('aws_8hour_2017_seoul.csv',index=False)

### 4) 음주운전 교통사고데이터를 '강남구' 하나 불러오기
##### engine='python'은 os오류뜰때 해결하기 위해 씀

In [20]:
aws_8h_seoul = pd.read_csv('aws_8hour_2017_seoul.csv')
gangnam_achol_acc = pd.read_csv('accdata/강남구.csv', encoding='EUC-KR', engine='python')

### 5) '일시' 열의 글자 데이터 정제 - lambda 사용

In [19]:
aws_8h_seoul['일시'].head()

0    2017-01-01 00:00
1    2017-01-01 01:00
2    2017-01-01 02:00
3    2017-01-01 03:00
4    2017-01-01 04:00
Name: 일시, dtype: object

In [21]:
aws_8h_seoul['일시'] = aws_8h_seoul['일시'].map(lambda x: x.split(' ')[0].replace('-','') + x.split(' ')[1][:2])

##### 일시에서 string은 빠지고 숫자만 출력됨을 알 수 있음

In [23]:
aws_8h_seoul.head()

,지점,일시,8h_celsius,8h_windD,8h_windV,8h_precipitaiton,8h_spotAtoPressure,8h_seaAtoPressure,8h_humidity,8h_insolation,8h_sunshine
0,400,2017010100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,400,2017010101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,400,2017010102,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,400,2017010103,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,400,2017010104,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 6) 강남구 음주운전 교통사고의 데이터

In [22]:
gangnam_achol_acc.head()

,사고번호,발생일시,발생요일,발생시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
0,2017010100100421,2017년 1월 1일 23시,일요일,서울특별시 강남구 역삼동,경상사고,0,0,1,0,차대사람 - 기타,...,맑음,단일로 - 기타,승용,여,40세,상해없음,보행자,남,26세,경상
1,2017010100100422,2017년 1월 1일 23시,일요일,서울특별시 강남구 개포동,중상사고,0,3,2,0,차대차 - 추돌,...,맑음,교차로 - 교차로부근,승용,남,53세,상해없음,승용,남,43세,중상
2,2017010200100021,2017년 1월 2일 00시,월요일,서울특별시 강남구 신사동,경상사고,0,0,1,0,차대차 - 기타,...,맑음,단일로 - 기타,승용,남,34세,상해없음,승용,남,43세,상해없음
3,2017010200100079,2017년 1월 2일 07시,월요일,서울특별시 강남구 수서동,경상사고,0,0,1,0,차대차 - 추돌,...,맑음,단일로 - 기타,승용,남,26세,상해없음,승용,남,44세,경상
4,2017010600100125,2017년 1월 6일 08시,금요일,서울특별시 강남구 도곡동,경상사고,0,0,2,0,차대차 - 추돌,...,맑음,단일로 - 기타,승용,남,23세,상해없음,승용,여,42세,경상

In [24]:
gangnam_achol_acc.columns

Index(['사고번호', '발생일시', '발생요일', '발생시군구', '사고내용', '사망자수', '중상자수', '경상자수',
       '부상신고자수', '사고유형', '법규위반', '노면상태', '기상상태', '도로형태', '가해운전자 차종',
       '가해운전자 성별', '가해운전자 연령', '가해운전자 상해정도', '피해운전자 차종', '피해운전자 성별',
       '피해운전자 연령', '피해운전자 상해정도'],
      dtype='object')

### 7) 교통사고데이터의 '발생 일시' 데이터에 년,월,일,시만 숫자 데이터 추출

In [25]:
#from itertools import groupby

#숫자만 뽑아내 리스트 반환 함수
def digitList(string):
    l = [int(''.join(i)) for is_digit,i in groupby(string, str.isdigit) if is_digit]
    return l

gangnam_achol_acc['일시'] = gangnam_achol_acc['발생일시'].map(lambda x:
                              str(digitList(x)[0]) + '%02d' % digitList(x)[1] + 
                               '%02d' % digitList(x)[2] + '%02d' % digitList(x)[3])

In [26]:
gangnam_achol_acc['지점'] = 400
gangnam_achol_acc.head()

,사고번호,발생일시,발생요일,발생시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,일시,지점
0,2017010100100421,2017년 1월 1일 23시,일요일,서울특별시 강남구 역삼동,경상사고,0,0,1,0,차대사람 - 기타,...,승용,여,40세,상해없음,보행자,남,26세,경상,2017010123,400
1,2017010100100422,2017년 1월 1일 23시,일요일,서울특별시 강남구 개포동,중상사고,0,3,2,0,차대차 - 추돌,...,승용,남,53세,상해없음,승용,남,43세,중상,2017010123,400
2,2017010200100021,2017년 1월 2일 00시,월요일,서울특별시 강남구 신사동,경상사고,0,0,1,0,차대차 - 기타,...,승용,남,34세,상해없음,승용,남,43세,상해없음,2017010200,400
3,2017010200100079,2017년 1월 2일 07시,월요일,서울특별시 강남구 수서동,경상사고,0,0,1,0,차대차 - 추돌,...,승용,남,26세,상해없음,승용,남,44세,경상,2017010207,400
4,2017010600100125,2017년 1월 6일 08시,금요일,서울특별시 강남구 도곡동,경상사고,0,0,2,0,차대차 - 추돌,...,승용,남,23세,상해없음,승용,여,42세,경상,2017010608,400

### 8) 음주운전 교통사고에 필요한 데이터만 추출하여 temp 데이터 프레임 생성

In [27]:
temp = gangnam_achol_acc[['지점','일시','사고번호','발생요일','발생시군구','사고내용']]
temp.head()

    지점          일시              사고번호 발생요일          발생시군구  사고내용
0  400  2017010123  2017010100100421  일요일  서울특별시 강남구 역삼동  경상사고
1  400  2017010123  2017010100100422  일요일  서울특별시 강남구 개포동  중상사고
2  400  2017010200  2017010200100021  월요일  서울특별시 강남구 신사동  경상사고
3  400  2017010207  2017010200100079  월요일  서울특별시 강남구 수서동  경상사고
4  400  2017010608  2017010600100125  금요일  서울특별시 강남구 도곡동  경상사고

In [28]:
aws_8h_seoul.head()

,지점,일시,8h_celsius,8h_windD,8h_windV,8h_precipitaiton,8h_spotAtoPressure,8h_seaAtoPressure,8h_humidity,8h_insolation,8h_sunshine
0,400,2017010100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,400,2017010101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,400,2017010102,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,400,2017010103,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,400,2017010104,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 3. 데이터 통합 

### 1) 강남구 교통사고 데이터와 8시간 평균 날씨 데이터 merge

In [29]:
aws_acci_seoul_2017 = pd.merge(aws_8h_seoul, temp, on=['지점','일시'], how='outer')
aws_acci_seoul_2017[3:100]

,지점,일시,8h_celsius,8h_windD,8h_windV,8h_precipitaiton,8h_spotAtoPressure,8h_seaAtoPressure,8h_humidity,8h_insolation,8h_sunshine,사고번호,발생요일,발생시군구,사고내용
3,400,2017010103,0.0000,0.0000,0.0000,0.0,0.0,0.0,0.0000,0.0,0.0,NaN,NaN,NaN,NaN
4,400,2017010104,0.0000,0.0000,0.0000,0.0,0.0,0.0,0.0000,0.0,0.0,NaN,NaN,NaN,NaN
5,400,2017010105,0.0000,0.0000,0.0000,0.0,0.0,0.0,0.0000,0.0,0.0,NaN,NaN,NaN,NaN
6,400,2017010106,0.0000,0.0000,0.0000,0.0,0.0,0.0,0.0000,0.0,0.0,NaN,NaN,NaN,NaN
7,400,2017010107,0.6875,67.8875,1.1375,0.0,NaN,NaN,83.3750,0.0,0.0,NaN,NaN,NaN,NaN
8,400,2017010108,0.4875,67.8500,1.1125,0.0,NaN,NaN,84.8750,0.0,0.0,NaN,NaN,NaN,NaN
9,400,2017010109,0.3750,67.9625,1.1625,0.0,NaN,NaN,86.2250,0.0,0.0,NaN,NaN,NaN,NaN
10,400,2017010110,0.3500,67.4500,1.0875,0.0,NaN,NaN,86.9125,0.0,0.0,NaN,NaN,NaN,NaN
11,400,2017010111,0.5625,65.9625,1.0625,0.0,NaN,NaN,86.4625,0.0,0.0,NaN,NaN,NaN,NaN
12,400,2017010112,0.9625,65.0750,1.1250,0.0,NaN,NaN,85.1500,0.0,0.0,NaN,NaN,NaN,NaN
13,400,2017010113,1.6500,64.4000,1.1500,0.0,NaN,NaN,83.0500,0.0,0.0,NaN,NaN,NaN,NaN
14,400,2017010114,2.4500,64.2250,1.1500,0.0,NaN,NaN,80.4250,0.0,0.0,NaN,NaN,NaN,NaN
15,400,2017010115,3.2875,63.1375,1.2375,0.0,NaN,NaN,77.6125,0.0,0.0,NaN,NaN,NaN,NaN
16,400,2017010116,4.1250,62.7500,1.2750,0.0,NaN,NaN,74.9375,0.0,0.0,NaN,NaN,NaN,NaN
17,400,2017010117,4.8875,62.7000,1.1875,0.0,NaN,NaN,72.3000,0.0,0.0,NaN,NaN,NaN,NaN
18,400,2017010118,5.5250,62.3875,1.2500,0.0,NaN,NaN,70.3000,0.0,0.0,NaN,NaN,NaN,NaN
19,400,2017010119,5.9625,64.7875,1.3125,0.0,NaN,NaN,69.0750,0.0,0.0,NaN,NaN,NaN,NaN
20,400,2017010120,6.1375,65.9375,1.4000,0.0,NaN,NaN,68.7125,0.0,0.0,NaN,NaN,NaN,NaN
21,400,2017010121,6.0250,66.5125,1.4000,0.0,NaN,NaN,69.4000,0.0,0.0,NaN,NaN,NaN,NaN
22,400,2017010122,5.8750,66.6750,1.4000,0.0,NaN,NaN,70.1625,0.0,0.0,NaN,NaN,NaN,NaN
23,400,2017010123,5.7250,66.2750,1.3125,0.0,NaN,NaN,71.0000,0.0,0.0,2.017010e+15,일요일,서울특별시 강남구 역삼동,경상사고
24,400,2017010123,5.7250,66.2750,1.3125,0.0,NaN,NaN,71.0000,0.0,0.0,2.017010e+15,일요일,서울특별시 강남구 개포동,중상사고
25,400,2017010200,5.5375,65.4125,1.2500,0.0,NaN,NaN,71.9750,0.0,0.0,2.017010e+15,월요일,서울특별시 강남구 신사동,경상사고
26,400,2017010201,5.3500,63.6250,1.2000,0.0,NaN,NaN,72.9750,0.0,0.0,NaN,NaN,NaN,NaN
27,400,2017010202,5.1750,64.5750,1.1500,0.0,NaN,NaN,73.8875,0.0,0.0,NaN,NaN,NaN,NaN
28,400,2017010203,5.0375,64.1250,1.0750,0.0,NaN,NaN,74.7500,0.0,0.0,NaN,NaN,NaN,NaN
29,400,2017010204,4.9750,64.1000,1.0000,0.0,NaN,NaN,75.3750,0.0,0.0,NaN,NaN,NaN,NaN
30,400,2017010205,4.9500,56.3000,0.8875,0.0,NaN,NaN,76.0500,0.0,0.0,NaN,NaN,NaN,NaN
31,400,2017010206,4.8500,55.2000,0.8125,0.0,NaN,NaN,77.8625,0.0,0.0,NaN,NaN,NaN,NaN
32,400,2017010207,4.8000,64.7875,0.8500,0.0,NaN,NaN,79.9250,0.0,0.0,2.017010e+15,월요일,서울특별시 강남구 수서동,경상사고
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,400,2017010321,5.9000,255.8125,2.4000,0.0,NaN,NaN,50.6125,0.0,0.0,NaN,NaN,NaN,NaN
71,400,2017010322,5.5750,256.4750,2.2250,0.0,NaN,NaN,52.2375,0.0,0.0,NaN,NaN,NaN,NaN
72,400,2017010323,5.2250,222.4000,1.9750,0.0,NaN,NaN,54.4875,0.0,0.0,NaN,NaN,NaN,NaN
73,400,2017010400,4.8750,189.0625,1.6500,0.0,NaN,NaN,57.1875,0.0,0.0,NaN,NaN,NaN,NaN
74,400,2017010401,4.5875,165.1750,1.4000,0.0,NaN,NaN,59.4500,0.0,0.0,NaN,NaN,NaN,NaN
75,400,2017010402,4.4125,143.7875,1.1625,0.0,NaN,NaN,61.2875,0.0,0.0,NaN,NaN,NaN,NaN
76,400,2017010403,4.3125,135.7250,1.0375,0.0,NaN,NaN,62.9875,0.0,0.0,NaN,NaN,NaN,NaN
77,400,2017010404,4.2375,128.4000,0.8500,0.0,NaN,NaN,65.5250,0.0,0.0,NaN,NaN,NaN,NaN
78,400,2017010405,4.1000,105.1250,0.6500,0.0,NaN,NaN,68.1875,0.0,0.0,NaN,NaN,NaN,NaN
79,400,2017010406,3.9375,81.0875,0.6375,0.0,NaN,NaN,70.3625,0.0,0.0,NaN,NaN,NaN,NaN
80,400,2017010407,3.7750,89.6625,0.7875,0.0,NaN,NaN,71.9375,0.0,0.0,NaN,NaN,NaN,NaN
81,400,2017010408,3.5750,97.7875,0.9250,0.0,NaN,NaN,73.5000,0.0,0.0,NaN,NaN,NaN,NaN
82,400,2017010409,3.4500,97.9750,0.9625,0.0,NaN,NaN,74.8250,0.0,0.0,NaN,NaN,NaN,NaN
83,400,2017010410,3.4750,95.6250,1.0625,0.0,NaN,NaN,75.3250,0.0,0.0,NaN,NaN,NaN,NaN
84,400,2017010411,3.7250,81.2375,1.0875,0.0,NaN,NaN,74.7500,0.0,0.0,NaN,NaN,NaN,NaN
85,400,2017010412,4.0750,91.1125,1.2625,0.0,NaN,NaN,73.1000,0.0,0.0,NaN,NaN,NaN,NaN
86,400,2017010413,4.6875,119.5000,1.4625,0.0,NaN,NaN,69.4625,0.0,0.0,NaN,NaN,NaN,NaN
87,400,2017010414,5.3125,148.9000,1.5875,0.0,NaN,NaN,64.7875,0.0,0.0,NaN,NaN,NaN,NaN
88,400,2017010415,6.0125,174.5250,1.7875,0.0,NaN,NaN,59.0125,0.0,0.0,NaN,NaN,NaN,NaN
89,400,2017010416,6.7375,199.9875,1.9750,0.0,NaN,NaN,52.8375,0.0,0.0,NaN,NaN,NaN,NaN
90,400,2017010417,7.3500,226.8500,2.0625,0.0,NaN,NaN,47.5625,0.0,0.0,NaN,NaN,NaN,NaN
91,400,2017010418,7.7250,254.3250,2.1125,0.0,NaN,NaN,43.1750,0.0,0.0,NaN,NaN,NaN,NaN
92,400,2017010419,7.8000,280.3375,2.2625,0.0,NaN,NaN,39.7000,0.0,0.0,NaN,NaN,NaN,NaN
93,400,2017010420,7.7125,281.5875,2.2375,0.0,NaN,NaN,37.8125,0.0,0.0,NaN,NaN,NaN,NaN
94,400,2017010421,7.4000,280.1375,2.1250,0.0,NaN,NaN,38.0125,0.0,0.0,NaN,NaN,NaN,NaN
95,400,2017010422,7.0250,277.6375,2.0000,0.0,NaN,NaN,39.7750,0.0,0.0,NaN,NaN,NaN,NaN
96,400,2017010423,6.5625,285.7500,1.7375,0.0,NaN,NaN,41.3625,0.0,0.0,NaN,NaN,NaN,NaN
97,400,2017010500,6.0625,254.2125,1.4875,0.0,NaN,NaN,42.9500,0.0,0.0,NaN,NaN,NaN,NaN
98,400,2017010501,5.6125,219.1625,1.3125,0.0,NaN,NaN,44.8125,0.0,0.0,NaN,NaN,NaN,NaN
99,400,2017010502,5.0625,193.3375,1.2625,0.0,NaN,NaN,47.0875,0.0,0.0,NaN,NaN,NaN,NaN

### 2) 모든 구의 음주운전교통사고 데이터를 수집 작업 

#### - 날씨데이터(aws)에서 종로구 대신 북악산에, 동작구 대신 한강 칼럼값으로 기입되어있음
#### - IGNORE_INDEX를 TRUE를 안하게 되면 파일 마다 인덱스가 다시 1부터 시작 됨. 방지하기 위해 False를 씀

In [30]:
aws_number = ['강남 (400)', '강동 (402)', '강북 (424)', '강서 (404)', '관악 (509)',
              '광진 (413)', '구로 (423)', '금천 (417)', '기상청 (410)', '남현 (425)',
              '노원 (407)', '도봉 (406)','동대문 (408)', '마포 (411)', '종로 (422)',
              '북한산 (420)', '서대문 (412)', '서초 (401)', '성동 (421)', '성북 (414)',
              '송파 (403)', '양천 (405)', '영등포 (510)','용산 (415)', 
              '은평 (416)', '중구 (419)', '중랑 (409)', '동작 (418)', '현충원 (889)']


#북악산 -- 종로구
#한강 -- 동작구

temp = pd.DataFrame()

#import os
for number in aws_number:
#     print(number.split('(')[0].strip()+ '구.csv')
#     print(number.split('(')[1][:3])
    if os.path.exists('accdata/'+ number.split('(')[0].strip() + '구.csv'):
        df = pd.read_csv('accdata/'+ number.split('(')[0].strip() + '구.csv',
                         engine='python', encoding='EUC-KR')
        df['지점'] = number.split('(')[1][:3]
        df['일시'] = df['발생일시'].map(lambda x:
                              str(digitList(x)[0]) + '%02d' % digitList(x)[1] + 
                               '%02d' % digitList(x)[2] + '%02d' % digitList(x)[3])
        df = df[['지점','일시','사고번호','발생요일','발생시군구','사고내용']]
        temp = temp.append(df, ignore_index = True)

In [31]:
temp.dtypes

지점       object
일시       object
사고번호      int64
발생요일     object
발생시군구    object
사고내용     object
dtype: object

### 3) '지점일시'라는 새로운 열을 만들어 날씨 시간과 교통사고 시간의 동시점을 찾기위한 key로 활용
- 열끼리 글자를 합치기 위해 지점과 일시는 스트링 타입으로 먼저 선언함

In [32]:
aws_8h_seoul['지점'] = aws_8h_seoul['지점'].astype('str')
aws_8h_seoul['일시'] = aws_8h_seoul['일시'].astype('str')
aws_8h_seoul['지점일시'] = aws_8h_seoul['지점'] + aws_8h_seoul['일시']
aws_8h_seoul.columns

Index(['지점', '일시', '8h_celsius', '8h_windD', '8h_windV', '8h_precipitaiton',
       '8h_spotAtoPressure', '8h_seaAtoPressure', '8h_humidity',
       '8h_insolation', '8h_sunshine', '지점일시'],
      dtype='object')

### 4) 날씨데이터의 지점일시 열을 맨 앞으로 추가

In [33]:
aws_8h_seoul = aws_8h_seoul[['지점일시', '지점', '일시', '8h_celsius',
                                     '8h_windD', '8h_windV', '8h_precipitaiton',
                                     '8h_spotAtoPressure', '8h_seaAtoPressure',
                                    '8h_humidity','8h_insolation', '8h_sunshine']]
aws_8h_seoul.head()

,지점일시,지점,일시,8h_celsius,8h_windD,8h_windV,8h_precipitaiton,8h_spotAtoPressure,8h_seaAtoPressure,8h_humidity,8h_insolation,8h_sunshine
0,4002017010100,400,2017010100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4002017010101,400,2017010101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4002017010102,400,2017010102,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4002017010103,400,2017010103,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4002017010104,400,2017010104,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 5) 서울시 전체 구를 대상으로 날씨데이터와 음주운전교통사고 데이터의 merge

In [34]:
aws_acci_seoul_2017 = pd.merge(aws_8h_seoul, temp, how='outer')
aws_acci_seoul_2017[3:100]

,지점일시,지점,일시,8h_celsius,8h_windD,8h_windV,8h_precipitaiton,8h_spotAtoPressure,8h_seaAtoPressure,8h_humidity,8h_insolation,8h_sunshine,사고번호,발생요일,발생시군구,사고내용
3,4002017010103,400,2017010103,0.0000,0.0000,0.0000,0.0,0.0,0.0,0.0000,0.0,0.0,NaN,NaN,NaN,NaN
4,4002017010104,400,2017010104,0.0000,0.0000,0.0000,0.0,0.0,0.0,0.0000,0.0,0.0,NaN,NaN,NaN,NaN
5,4002017010105,400,2017010105,0.0000,0.0000,0.0000,0.0,0.0,0.0,0.0000,0.0,0.0,NaN,NaN,NaN,NaN
6,4002017010106,400,2017010106,0.0000,0.0000,0.0000,0.0,0.0,0.0,0.0000,0.0,0.0,NaN,NaN,NaN,NaN
7,4002017010107,400,2017010107,0.6875,67.8875,1.1375,0.0,NaN,NaN,83.3750,0.0,0.0,NaN,NaN,NaN,NaN
8,4002017010108,400,2017010108,0.4875,67.8500,1.1125,0.0,NaN,NaN,84.8750,0.0,0.0,NaN,NaN,NaN,NaN
9,4002017010109,400,2017010109,0.3750,67.9625,1.1625,0.0,NaN,NaN,86.2250,0.0,0.0,NaN,NaN,NaN,NaN
10,4002017010110,400,2017010110,0.3500,67.4500,1.0875,0.0,NaN,NaN,86.9125,0.0,0.0,NaN,NaN,NaN,NaN
11,4002017010111,400,2017010111,0.5625,65.9625,1.0625,0.0,NaN,NaN,86.4625,0.0,0.0,NaN,NaN,NaN,NaN
12,4002017010112,400,2017010112,0.9625,65.0750,1.1250,0.0,NaN,NaN,85.1500,0.0,0.0,NaN,NaN,NaN,NaN
13,4002017010113,400,2017010113,1.6500,64.4000,1.1500,0.0,NaN,NaN,83.0500,0.0,0.0,NaN,NaN,NaN,NaN
14,4002017010114,400,2017010114,2.4500,64.2250,1.1500,0.0,NaN,NaN,80.4250,0.0,0.0,NaN,NaN,NaN,NaN
15,4002017010115,400,2017010115,3.2875,63.1375,1.2375,0.0,NaN,NaN,77.6125,0.0,0.0,NaN,NaN,NaN,NaN
16,4002017010116,400,2017010116,4.1250,62.7500,1.2750,0.0,NaN,NaN,74.9375,0.0,0.0,NaN,NaN,NaN,NaN
17,4002017010117,400,2017010117,4.8875,62.7000,1.1875,0.0,NaN,NaN,72.3000,0.0,0.0,NaN,NaN,NaN,NaN
18,4002017010118,400,2017010118,5.5250,62.3875,1.2500,0.0,NaN,NaN,70.3000,0.0,0.0,NaN,NaN,NaN,NaN
19,4002017010119,400,2017010119,5.9625,64.7875,1.3125,0.0,NaN,NaN,69.0750,0.0,0.0,NaN,NaN,NaN,NaN
20,4002017010120,400,2017010120,6.1375,65.9375,1.4000,0.0,NaN,NaN,68.7125,0.0,0.0,NaN,NaN,NaN,NaN
21,4002017010121,400,2017010121,6.0250,66.5125,1.4000,0.0,NaN,NaN,69.4000,0.0,0.0,NaN,NaN,NaN,NaN
22,4002017010122,400,2017010122,5.8750,66.6750,1.4000,0.0,NaN,NaN,70.1625,0.0,0.0,NaN,NaN,NaN,NaN
23,4002017010123,400,2017010123,5.7250,66.2750,1.3125,0.0,NaN,NaN,71.0000,0.0,0.0,2.017010e+15,일요일,서울특별시 강남구 역삼동,경상사고
24,4002017010123,400,2017010123,5.7250,66.2750,1.3125,0.0,NaN,NaN,71.0000,0.0,0.0,2.017010e+15,일요일,서울특별시 강남구 개포동,중상사고
25,4002017010200,400,2017010200,5.5375,65.4125,1.2500,0.0,NaN,NaN,71.9750,0.0,0.0,2.017010e+15,월요일,서울특별시 강남구 신사동,경상사고
26,4002017010201,400,2017010201,5.3500,63.6250,1.2000,0.0,NaN,NaN,72.9750,0.0,0.0,NaN,NaN,NaN,NaN
27,4002017010202,400,2017010202,5.1750,64.5750,1.1500,0.0,NaN,NaN,73.8875,0.0,0.0,NaN,NaN,NaN,NaN
28,4002017010203,400,2017010203,5.0375,64.1250,1.0750,0.0,NaN,NaN,74.7500,0.0,0.0,NaN,NaN,NaN,NaN
29,4002017010204,400,2017010204,4.9750,64.1000,1.0000,0.0,NaN,NaN,75.3750,0.0,0.0,NaN,NaN,NaN,NaN
30,4002017010205,400,2017010205,4.9500,56.3000,0.8875,0.0,NaN,NaN,76.0500,0.0,0.0,NaN,NaN,NaN,NaN
31,4002017010206,400,2017010206,4.8500,55.2000,0.8125,0.0,NaN,NaN,77.8625,0.0,0.0,NaN,NaN,NaN,NaN
32,4002017010207,400,2017010207,4.8000,64.7875,0.8500,0.0,NaN,NaN,79.9250,0.0,0.0,2.017010e+15,월요일,서울특별시 강남구 수서동,경상사고
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,4002017010321,400,2017010321,5.9000,255.8125,2.4000,0.0,NaN,NaN,50.6125,0.0,0.0,NaN,NaN,NaN,NaN
71,4002017010322,400,2017010322,5.5750,256.4750,2.2250,0.0,NaN,NaN,52.2375,0.0,0.0,NaN,NaN,NaN,NaN
72,4002017010323,400,2017010323,5.2250,222.4000,1.9750,0.0,NaN,NaN,54.4875,0.0,0.0,NaN,NaN,NaN,NaN
73,4002017010400,400,2017010400,4.8750,189.0625,1.6500,0.0,NaN,NaN,57.1875,0.0,0.0,NaN,NaN,NaN,NaN
74,4002017010401,400,2017010401,4.5875,165.1750,1.4000,0.0,NaN,NaN,59.4500,0.0,0.0,NaN,NaN,NaN,NaN
75,4002017010402,400,2017010402,4.4125,143.7875,1.1625,0.0,NaN,NaN,61.2875,0.0,0.0,NaN,NaN,NaN,NaN
76,4002017010403,400,2017010403,4.3125,135.7250,1.0375,0.0,NaN,NaN,62.9875,0.0,0.0,NaN,NaN,NaN,NaN
77,4002017010404,400,2017010404,4.2375,128.4000,0.8500,0.0,NaN,NaN,65.5250,0.0,0.0,NaN,NaN,NaN,NaN
78,4002017010405,400,2017010405,4.1000,105.1250,0.6500,0.0,NaN,NaN,68.1875,0.0,0.0,NaN,NaN,NaN,NaN
79,4002017010406,400,2017010406,3.9375,81.0875,0.6375,0.0,NaN,NaN,70.3625,0.0,0.0,NaN,NaN,NaN,NaN
80,4002017010407,400,2017010407,3.7750,89.6625,0.7875,0.0,NaN,NaN,71.9375,0.0,0.0,NaN,NaN,NaN,NaN
81,4002017010408,400,2017010408,3.5750,97.7875,0.9250,0.0,NaN,NaN,73.5000,0.0,0.0,NaN,NaN,NaN,NaN
82,4002017010409,400,2017010409,3.4500,97.9750,0.9625,0.0,NaN,NaN,74.8250,0.0,0.0,NaN,NaN,NaN,NaN
83,4002017010410,400,2017010410,3.4750,95.6250,1.0625,0.0,NaN,NaN,75.3250,0.0,0.0,NaN,NaN,NaN,NaN
84,4002017010411,400,2017010411,3.7250,81.2375,1.0875,0.0,NaN,NaN,74.7500,0.0,0.0,NaN,NaN,NaN,NaN
85,4002017010412,400,2017010412,4.0750,91.1125,1.2625,0.0,NaN,NaN,73.1000,0.0,0.0,NaN,NaN,NaN,NaN
86,4002017010413,400,2017010413,4.6875,119.5000,1.4625,0.0,NaN,NaN,69.4625,0.0,0.0,NaN,NaN,NaN,NaN
87,4002017010414,400,2017010414,5.3125,148.9000,1.5875,0.0,NaN,NaN,64.7875,0.0,0.0,NaN,NaN,NaN,NaN
88,4002017010415,400,2017010415,6.0125,174.5250,1.7875,0.0,NaN,NaN,59.0125,0.0,0.0,NaN,NaN,NaN,NaN
89,4002017010416,400,2017010416,6.7375,199.9875,1.9750,0.0,NaN,NaN,52.8375,0.0,0.0,NaN,NaN,NaN,NaN
90,4002017010417,400,2017010417,7.3500,226.8500,2.0625,0.0,NaN,NaN,47.5625,0.0,0.0,NaN,NaN,NaN,NaN
91,4002017010418,400,2017010418,7.7250,254.3250,2.1125,0.0,NaN,NaN,43.1750,0.0,0.0,NaN,NaN,NaN,NaN
92,4002017010419,400,2017010419,7.8000,280.3375,2.2625,0.0,NaN,NaN,39.7000,0.0,0.0,NaN,NaN,NaN,NaN
93,4002017010420,400,2017010420,7.7125,281.5875,2.2375,0.0,NaN,NaN,37.8125,0.0,0.0,NaN,NaN,NaN,NaN
94,4002017010421,400,2017010421,7.4000,280.1375,2.1250,0.0,NaN,NaN,38.0125,0.0,0.0,NaN,NaN,NaN,NaN
95,4002017010422,400,2017010422,7.0250,277.6375,2.0000,0.0,NaN,NaN,39.7750,0.0,0.0,NaN,NaN,NaN,NaN
96,4002017010423,400,2017010423,6.5625,285.7500,1.7375,0.0,NaN,NaN,41.3625,0.0,0.0,NaN,NaN,NaN,NaN
97,4002017010500,400,2017010500,6.0625,254.2125,1.4875,0.0,NaN,NaN,42.9500,0.0,0.0,NaN,NaN,NaN,NaN
98,4002017010501,400,2017010501,5.6125,219.1625,1.3125,0.0,NaN,NaN,44.8125,0.0,0.0,NaN,NaN,NaN,NaN
99,4002017010502,400,2017010502,5.0625,193.3375,1.2625,0.0,NaN,NaN,47.0875,0.0,0.0,NaN,NaN,NaN,NaN

### 6) 음주사고가 발생한 건수는 2825개

In [35]:
aws_acci_seoul_2017['음주사고발생'] = aws_acci_seoul_2017['사고번호'].notnull()
len(aws_acci_seoul_2017[aws_acci_seoul_2017['음주사고발생']==True])

2825

## 4. 데이터 정제 작업 끝
- 정제된 데이터 저장

In [36]:
aws_acci_seoul_2017.to_csv('aws_acci_seoul_2017.csv',index=False)