In [2]:
!pip install seaborn

import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

# 노트북 안에 그래프를 그리기 위해
%matplotlib inline

Requirement already satisfied: seaborn in /root/miniconda3/lib/python3.6/site-packages (0.8.1)
mkl-random 1.0.1 requires cython, which is not installed.
mkl-fft 1.0.0 requires cython, which is not installed.

### 데이터 불러오기 
- '일시'열은 parse_dates 타입으로 불러오기

In [3]:
weather = pd.read_csv('https://raw.githubusercontent.com/DreamingDataScientist/DataCompetition/master/Data/aws_hour_2017_seoul.csv', encoding ='EUC-KR', parse_dates=['일시'])

In [4]:
weather.head()

,지점,일시,기온(°C),풍향(deg),풍속(m/s),강수량(mm),현지기압(hPa),해면기압(hPa),습도(%),일사(MJ/m^2),일조(hr)
0,400,2017-01-01 00:00:00,1.7,68.1,1.3,0.0,NaN,NaN,75.6,0.0,0.0
1,400,2017-01-01 01:00:00,1.4,69.1,1.3,0.0,NaN,NaN,77.8,0.0,0.0
2,400,2017-01-01 02:00:00,1.2,66.2,1.6,0.0,NaN,NaN,79.6,0.0,0.0
3,400,2017-01-01 03:00:00,0.5,66.0,1.5,0.0,NaN,NaN,84.4,0.0,0.0
4,400,2017-01-01 04:00:00,0.6,63.4,0.5,0.0,NaN,NaN,85.6,0.0,0.0

### 총 24만4921개의 줄과 11개의 칼럼으로 구성된 DataFrame

In [5]:
weather.shape

(244921, 11)

In [6]:
weather.describe()

,지점,기온(°C),풍향(deg),풍속(m/s),강수량(mm),현지기압(hPa),해면기압(hPa),습도(%),일사(MJ/m^2),일조(hr)
count,244921.000000,244602.000000,244337.000000,244439.000000,243408.000000,17600.000000,17600.000000,176145.000000,192612.000000,200961.000000
mean,436.184161,13.021154,185.107684,1.642479,0.130368,1007.623352,1010.072466,53.156934,0.001322,0.073022
std,90.939084,11.011626,114.375354,1.080166,1.262168,78.641429,86.375325,29.840442,0.706138,0.524376
min,400.000000,-17.500000,0.000000,0.000000,0.000000,-99.900000,-99.800000,0.000000,-74.330000,-3.700000
25%,407.000000,3.300000,77.400000,0.900000,0.000000,1007.000000,1009.900000,36.200000,0.000000,0.000000
50%,414.000000,14.500000,206.100000,1.400000,0.000000,1013.500000,1016.500000,56.600000,0.000000,0.000000
75%,422.000000,22.600000,286.400000,2.200000,0.000000,1020.000000,1023.200000,76.600000,0.000000,0.000000
max,889.000000,36.400000,360.000000,11.200000,56.500000,1034.700000,1036.900000,99.900000,82.230000,7.300000

In [7]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244921 entries, 0 to 244920
Data columns (total 11 columns):
지점            244921 non-null int64
일시            244921 non-null datetime64[ns]
기온(°C)        244602 non-null float64
풍향(deg)       244337 non-null float64
풍속(m/s)       244439 non-null float64
강수량(mm)       243408 non-null float64
현지기압(hPa)     17600 non-null float64
해면기압(hPa)     17600 non-null float64
습도(%)         176145 non-null float64
일사(MJ/m^2)    192612 non-null float64
일조(hr)        200961 non-null float64
dtypes: datetime64[ns](1), float64(9), int64(1)
memory usage: 20.6 MB

### 현지기압과 해면기압의 null값은 95%이상. 필요없는 칼럼값이기 때문에 drop

In [8]:
weather.isnull().sum()

지점                 0
일시                 0
기온(°C)           319
풍향(deg)          584
풍속(m/s)          482
강수량(mm)         1513
현지기압(hPa)     227321
해면기압(hPa)     227321
습도(%)          68776
일사(MJ/m^2)     52309
일조(hr)         43960
dtype: int64

In [9]:
weather.columns

Index(['지점', '일시', '기온(°C)', '풍향(deg)', '풍속(m/s)', '강수량(mm)', '현지기압(hPa)',
       '해면기압(hPa)', '습도(%)', '일사(MJ/m^2)', '일조(hr)'],
      dtype='object')

In [10]:
weather = weather.drop('현지기압(hPa)', axis=1)

In [11]:
weather = weather.drop('해면기압(hPa)', axis=1)

### 필요한 데이터만 뽑고 wdata 변수안에 df생성

In [12]:
weather.head()

,지점,일시,기온(°C),풍향(deg),풍속(m/s),강수량(mm),습도(%),일사(MJ/m^2),일조(hr)
0,400,2017-01-01 00:00:00,1.7,68.1,1.3,0.0,75.6,0.0,0.0
1,400,2017-01-01 01:00:00,1.4,69.1,1.3,0.0,77.8,0.0,0.0
2,400,2017-01-01 02:00:00,1.2,66.2,1.6,0.0,79.6,0.0,0.0
3,400,2017-01-01 03:00:00,0.5,66.0,1.5,0.0,84.4,0.0,0.0
4,400,2017-01-01 04:00:00,0.6,63.4,0.5,0.0,85.6,0.0,0.0

In [13]:
wdata = weather
wdata.head()

,지점,일시,기온(°C),풍향(deg),풍속(m/s),강수량(mm),습도(%),일사(MJ/m^2),일조(hr)
0,400,2017-01-01 00:00:00,1.7,68.1,1.3,0.0,75.6,0.0,0.0
1,400,2017-01-01 01:00:00,1.4,69.1,1.3,0.0,77.8,0.0,0.0
2,400,2017-01-01 02:00:00,1.2,66.2,1.6,0.0,79.6,0.0,0.0
3,400,2017-01-01 03:00:00,0.5,66.0,1.5,0.0,84.4,0.0,0.0
4,400,2017-01-01 04:00:00,0.6,63.4,0.5,0.0,85.6,0.0,0.0

### 연도별, 월별, 날짜별, 시간별 대로의 기온,풍향,풍속 등 시각화를 위해 나눌 수 있음을 보여줌

In [14]:
#wdata["year"] = wdata["일시"].dt.year
#wdata['month'] = wdata['일시'].dt.month
#wdata['day'] = wdata['일시'].dt.day
#wdata['hour'] = wdata['일시'].dt.hour

### dt 칼럼을 통해 후에 음주운전사고데이터와 일치 값을 찾기 위해 dt를 key로 만듦

In [15]:
wdata['dt'] = wdata['일시'].dt.strftime('%Y%m%d%H')

wdata.head(10)

,지점,일시,기온(°C),풍향(deg),풍속(m/s),강수량(mm),습도(%),일사(MJ/m^2),일조(hr),dt
0,400,2017-01-01 00:00:00,1.7,68.1,1.3,0.0,75.6,0.0,0.0,2017010100
1,400,2017-01-01 01:00:00,1.4,69.1,1.3,0.0,77.8,0.0,0.0,2017010101
2,400,2017-01-01 02:00:00,1.2,66.2,1.6,0.0,79.6,0.0,0.0,2017010102
3,400,2017-01-01 03:00:00,0.5,66.0,1.5,0.0,84.4,0.0,0.0,2017010103
4,400,2017-01-01 04:00:00,0.6,63.4,0.5,0.0,85.6,0.0,0.0,2017010104
5,400,2017-01-01 05:00:00,0.4,63.2,0.8,0.0,85.4,0.0,0.0,2017010105
6,400,2017-01-01 06:00:00,-0.2,68.5,1.6,0.0,89.2,0.0,0.0,2017010106
7,400,2017-01-01 07:00:00,-0.1,78.6,0.5,0.0,89.4,0.0,0.0,2017010107
8,400,2017-01-01 08:00:00,0.1,67.8,1.1,0.0,87.6,0.0,0.0,2017010108
9,400,2017-01-01 09:00:00,0.5,70.0,1.7,0.0,88.6,0.0,0.0,2017010109

In [16]:
#eHours = datetime.timedelta(hours=8)
#wdata['8hoursago'] = wdata['일시']- eHours

#wdata.head()

In [17]:
wdata.shape

(244921, 10)

### 행 8개씩 끊어 전체 평균을 구하기 위해 numpy.mean과 iloc을 사용

In [18]:
meanduring8 = []
meanduring8 = np.mean(wdata.iloc[0:8, 2:8])

print(meanduring8)

기온(°C)         0.6875
풍향(deg)       67.8875
풍속(m/s)        1.1375
강수량(mm)        0.0000
습도(%)         83.3750
일사(MJ/m^2)     0.0000
dtype: float64

In [21]:
#10개로 테스트

for i in range(0, 10):
    tmp = []

    
    for j in range(0,10):
        tmp2 = []
        tmp2 = np.mean(wdata.iloc[j:8+j, 2:5])
        tmp.append(tmp2)

In [22]:
tmp

[기온(°C)      0.6875
 풍향(deg)    67.8875
 풍속(m/s)     1.1375
 dtype: float64, 기온(°C)      0.4875
 풍향(deg)    67.8500
 풍속(m/s)     1.1125
 dtype: float64, 기온(°C)      0.3750
 풍향(deg)    67.9625
 풍속(m/s)     1.1625
 dtype: float64, 기온(°C)      0.3500
 풍향(deg)    67.4500
 풍속(m/s)     1.0875
 dtype: float64, 기온(°C)      0.5625
 풍향(deg)    65.9625
 풍속(m/s)     1.0625
 dtype: float64, 기온(°C)      0.9625
 풍향(deg)    65.0750
 풍속(m/s)     1.1250
 dtype: float64, 기온(°C)      1.65
 풍향(deg)    64.40
 풍속(m/s)     1.15
 dtype: float64, 기온(°C)      2.450
 풍향(deg)    64.225
 풍속(m/s)     1.150
 dtype: float64, 기온(°C)      3.2875
 풍향(deg)    63.1375
 풍속(m/s)     1.2375
 dtype: float64, 기온(°C)      4.125
 풍향(deg)    62.750
 풍속(m/s)     1.275
 dtype: float64]

In [ ]:
rows = 244921
num = rows-7

for i in range(0, 100000):
    tmp = []

    
    for j in range(0,100000):
        tmp2 = []
        tmp2 = np.mean(wdata.iloc[j:8+j, 2:5])
        tmp.append(tmp2)

In [23]:
wdata.shape

(244921, 10)

In [28]:
from glob import glob

acc_data = glob('accdata/*.csv')
accdata = []

for i in acc_data:
    accdata.append(pd.read_csv(i, encoding ='EUC-KR')) 

# 리스트 형태로 출력됨 - accdata

#accdata

In [ ]:
pd.DataFrame